@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Lato&display=swap');
body{
    background-image: url(../image/background.jpeg);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}
.transyl1{
    margin: 0 70px;
    margin-bottom: 40px;
}
.transyl1 h1{
    margin-top: 20px;
    font-family: 'Alegreya', serif;
}
.transyl1 img{
    width: 20%;
}
.transyl1 img:hover{
    width: 30%;
    transition: 2s;
}
@media (max-width: 1080px) {
    .transyl1 h1{
        font-size: 20px;
    }
    .transyl1 p{
        font-size: 12px;
    }
}
